= table.row :preview do |resource|
  - bootstrap_thumbnail(image_options: { src: main_app.url_for(resource.asset) })
= table.row :picture_gallery, as: :association, label_method: :name
= table.row :title
= table.row :description
= table.timestamp :published_at