.row
  - @resource.picture_details.each do |picture_detail|
    = bootstrap_thumbnail(image_options: { src: main_app.url_for(picture_detail.asset) }) do
      %h5= picture_detail.title
      %p= picture_detail.description
      - if picture_detail.published?
        = link_to([:toggle_published, picture_detail], class: 'btn btn-xs btn-responsive btn-danger', method: :post) do
          %span.glyphicon.glyphicon-eye-close
          %span.btn-text= t('.unpublish')
      - else
        = link_to([:toggle_published, picture_detail], class: 'btn btn-xs btn-responsive btn-success', method: :post) do
          %span.glyphicon.glyphicon-eye-open
          %span.btn-text= t('.publish')
      .pull-right
        .btn-group
          = link_to([:edit, picture_detail], class: 'btn btn-xs btn-responsive btn-primary') do
            %span.glyphicon.glyphicon-pencil
            %span.btn-text= t('.edit')
          = link_to([picture_detail], class: 'btn btn-xs btn-responsive btn-danger', method: :delete, data: { confirm: I18n.t('.confirmations.delete') }) do
            %span.glyphicon.glyphicon-fire
            %span.btn-text= t('.destroy')